body{
    background-color: #000000;
    color: #f58400;
    font-family: Ubuntu, sans-serif;
    margin: 50px;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
}

p{
    font-size: .8em;
}

img{
    border: none;
}



